* {
    margin: 0;
    color: white;
    font-family: 'Anton', sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    width: 200vw;
}

#hello {
    margin: 0;
    display: flex;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;
    background-image: url('../../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrows {
    width: 5vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    background: rgb(112, 143, 151);
    opacity: 0.3;
}

.arrows:hover {
    opacity: 0.5;
}

#hello span {
    content: "\2770";
    color: rgb(90, 104, 141);
    text-shadow: 2px 2px rgb(18, 13, 20);
    font-size: 100px;
    margin-top: 39vh;
}

.text-content {
    margin: auto;
    width: 100%;
    height: 100vh;

    text-align: center;
}

.text-content h1 {
    text-transform: uppercase;
    font-size: 150px;
    text-shadow: 3px 3px rgb(78, 76, 76);

    margin: 275px auto 0 auto;
    opacity: 0;

    animation-fill-mode: forwards;
}

.text-content h1::selection {
    background: transparent;
}

.text-content p::selection {
    background: transparent;
}

.text-content p {
    opacity: 0;
    margin-top: 0;
    font-size: 30px;
    color: rgb(43, 27, 1);
}

.showText {
    animation: showText 6s;
    animation-fill-mode: forwards;
}

.goingUp {
    animation: goingUp 3s;
    animation-fill-mode: forwards;
}

@keyframes showText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes goingUp {
    0% {
        margin-top: 275px;
    }
    100% {
        margin-top: 170px;
    }
}

#projects {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/projects.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}

.grids {
    padding: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    grid-template-rows: repeat(20, 2fr);
    grid-gap: 5px;
}

.grids div {
    background-color: rgb(152, 201, 216);
    color: black;
}

.grids div:nth-child(1) {
    grid-area: 1 / 1 / 12 / 5;
    background-color: azure;
}

.grids div:nth-child(2) {
    grid-area: 1 / 5 / 8 / 7;
    background-color: aquamarine;
}

.grids div:nth-child(3) {
    grid-area: 1 / 7 / 8 / 8;
    background-color: blanchedalmond;
}

.grids div:nth-child(4) {
    grid-area: 1 / 8 / 13 / 11;
    background-color: rgb(162, 129, 194);
}

.grids div:nth-child(5) {
    grid-area: 13 / 8 / 15 / 9;
    background-color: blanchedalmond;
}

.grids div:nth-child(6) {
    grid-area: 8 / 5 / 15 / 8;
    background-color: rgb(109, 108, 106);
    text-align: left;
}

.grids div:nth-child(6) h2 {
    margin-left: 20px;
    line-height: 1.1;
    letter-spacing: 3px;
    font-size: 7em;
    color: rgb(106, 199, 186);
    text-shadow: 3px 3px 5px black;
    z-index: 1000;
    position: relative;
}

.grids div:nth-child(6) h2::selection {
    background: transparent;
}

.grids div:nth-child(7) {
    grid-area: 12 / 1 / 21 / 5; 
}

.grids div:nth-child(8) {
    grid-area: 15 / 5 / 21 / 7;  
}

.grids div:nth-child(9) {
    grid-area: 15 / 7 / 21 / 9;  
}

.grids div:nth-child(10) {
    grid-area: 13 / 9 / 21 / 11;  
}

#projects span {
    content: "\2770";
    color: rgb(235, 177, 250);
    text-shadow: 2px 2px rgb(156, 16, 211);
    font-size: 100px;
    margin-top: 39vh;
}