* {
    margin: 0;
    color: white;
    font-family: 'Anton', sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    width: 300vw;
    height: 100vh;
}

#hello {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrows {
    width: 5vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    background: rgb(112, 143, 151);
    opacity: 0.3;
}

.arrows:hover {
    opacity: 0.5;
}

#hello span, #projects span, #about span {
    content: "\2770";
    color: rgb(90, 104, 141);
    text-shadow: 2px 2px rgb(18, 13, 20);
    font-size: 100px;
    margin-top: 39vh;
}

.text-content {
    margin: auto;
    width: 100%;
    height: 100vh;

    text-align: center;
}

.text-content h1 {
    text-transform: uppercase;
    font-size: 150px;
    text-shadow: 3px 3px rgb(78, 76, 76);

    margin: 275px auto 0 auto;
    opacity: 0;

    animation-fill-mode: forwards;
}

.text-content h1::selection {
    background: transparent;
}

.text-content p::selection {
    background: transparent;
}

.text-content p {
    opacity: 0;
    margin-top: 0;
    font-size: 30px;
    color: rgb(43, 27, 1);
}

.showText {
    animation: showText 3s;
    animation-fill-mode: forwards;
}

.goingUp {
    animation: goingUp 2s;
    animation-fill-mode: forwards;
}

@keyframes showText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes goingUp {
    0% {
        margin-top: 275px;
    }
    100% {
        margin-top: 170px;
    }
}




#projects {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/projects.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}

.grids {
    padding: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    grid-template-rows: repeat(20, 2fr);
    
}

.grids .grid {
    background-color: rgb(100, 185, 211);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    position: relative;
}

.grid h3 {
    position: absolute;
    opacity: 0;
    color: black;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid:nth-child(2n+1) .image {
    width: 0;
    height: 0;
    transition: 1s;
    opacity: 0;
}

.grid:nth-child(2n+1):hover .image {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.grid:hover h3 {
    animation: opacityChange 2.5s ease;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

.grid:hover .images h3 {
    animation: opacityChange 5s;
    animation-delay: 0.9;
    animation-fill-mode: forwards;
}

@keyframes opacityChange {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.grid:nth-child(2n) .image {
    height: 100%;
    width: 100%;
    transition: 1s;
}

.grid:nth-child(2n):hover .image {
    height: 0;
    width: 0;
}

.grid:nth-child(2n):hover .image h3 {
    animation: opacityChange 0.5s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.grid:nth-child(1) {
    grid-area: 1 / 1 / 12 / 5;
}

.grid:nth-child(1) .image {
    background-color: azure;
}

.grid:nth-child(2) {
    grid-area: 1 / 5 / 8 / 7;
}

.grid:nth-child(2) .image {
    background-color: aquamarine;
}

.grid:nth-child(3) {
    grid-area: 1 / 7 / 8 / 8;
}

.grid:nth-child(3) .image {
    background-color: antiquewhite
}

.grid:nth-child(4) {
    grid-area: 1 / 8 / 13 / 11;
}

.grid:nth-child(4) .image {
    background-color: blanchedalmond;
}

.grid:nth-child(5) {
    grid-area: 13 / 8 / 15 / 9;
}

.grid:nth-child(5) .image {
    background-color: rgb(179, 235, 146);
}

.grid:nth-child(6) {
    grid-area: 8 / 5 / 15 / 8;
    background-color: rgb(109, 108, 106);
    text-align: left;
}

.grid:nth-child(6) h2 {
    line-height: 1.1;
    letter-spacing: 3px;
    font-size: 7.4vw;
    color: rgb(106, 199, 186);
    text-shadow: 3px 3px 5px black;
    z-index: 3;
    position: absolute;
}

.grid:nth-child(6) h2::selection {
    background: transparent;
}

.grid:nth-child(7) {
    grid-area: 12 / 1 / 21 / 5; 
}

.grid:nth-child(7) .image {
    background-color: rgb(143, 247, 122);
}

.grid:nth-child(8) {
    grid-area: 15 / 5 / 21 / 7;  
}

.grid:nth-child(8) .image {
    background-color: blueviolet;
}

.grid:nth-child(9) {
    grid-area: 15 / 7 / 21 / 9;  
}

.grid:nth-child(9) .image {
    background-color: aquamarine;
}

.grid:nth-child(10) {
    grid-area: 13 / 9 / 21 / 11;  
}

.grid:nth-child(10) .image {
    background-color: bisque;
}




#about {
    width: 100vw;
    background: #EEEEEE;
    display: flex;
    justify-content: space-between;
}

.cv {
    max-width: 1000px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.karina {
    width: 70%;
    height: 280px;
    margin-top: 20px;
    background: url('../../images/ich.png');
    background-repeat: no-repeat;
    background-position: 50% 18%;
    background-size: 45%;
    margin-bottom: 30px;
    /* border: 1px solid #000; */
}

.cv h1, .cv p{
    color: black;
}

.cv h1 {
    margin-bottom: 20px;
}

.cv p {
    text-align: left;
    line-height: 26px;
    margin-bottom: 10px;
}
