.right {
    transform: rotateY(90deg) translateZ(50vw) translateX(50vw);
    background-color: rgb(240, 121, 121);
    display: flex;
    justify-content: space-between;
}

.projects {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-image: url('../images/projects.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.grids {
    padding: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    grid-template-rows: repeat(20, 2fr);
    
}

.grids .grid {
    background-color: rgb(100, 185, 211);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    position: relative;
}

.grid h3 {
    position: absolute;
    opacity: 0;
    color: black;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid:nth-child(2n+1) .image {
    width: 0;
    height: 0;
    transition: 1s;
    opacity: 0;
}

.grid:nth-child(2n+1):hover .image {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.grid:hover h3 {
    animation: opacityChange 2.5s ease;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

.grid:hover .images h3 {
    animation: opacityChange 5s;
    animation-delay: 0.9;
    animation-fill-mode: forwards;
}

@-webkit-keyframes opacityChange {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacityChange {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.grid:nth-child(2n) .image {
    height: 100%;
    width: 100%;
    transition: 1s;
}

.grid:nth-child(2n):hover .image {
    height: 0;
    width: 0;
}

.grid:nth-child(2n):hover .image h3 {
    animation: opacityChange 0.5s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.grid:nth-child(1) {
    grid-area: 1 / 1 / 12 / 5;
}

.grid:nth-child(1) .image {
    background-color: azure;
}

.grid:nth-child(2) {
    grid-area: 1 / 5 / 8 / 7;
}

.grid:nth-child(2) .image {
    background-color: aquamarine;
}

.grid:nth-child(3) {
    grid-area: 1 / 7 / 8 / 8;
}

.grid:nth-child(3) .image {
    background-color: antiquewhite
}

.grid:nth-child(4) {
    grid-area: 1 / 8 / 13 / 11;
}

.grid:nth-child(4) .image {
    background-color: blanchedalmond;
}

.grid:nth-child(5) {
    grid-area: 13 / 8 / 15 / 9;
}

.grid:nth-child(5) .image {
    background-color: rgb(179, 235, 146);
}

.grid:nth-child(6) {
    grid-area: 8 / 5 / 15 / 8;
    background-color: rgb(109, 108, 106);
    text-align: left;
}

.grid:nth-child(6) h2 {
    margin-top: 0;
    line-height: 1.1;
    letter-spacing: 3px;
    font-size: 700%;
    color: rgb(106, 199, 186);
    text-shadow: 3px 3px 5px black;
    z-index: 3;
    position: absolute;
}

.grid:nth-child(6) h2::-moz-selection {
    background: transparent;
}

.grid:nth-child(6) h2::selection {
    background: transparent;
}

.grid:nth-child(7) {
    grid-area: 12 / 1 / 21 / 5; 
}

.grid:nth-child(7) .image {
    background-color: rgb(143, 247, 122);
}

.grid:nth-child(8) {
    grid-area: 15 / 5 / 21 / 7;  
}

.grid:nth-child(8) .image {
    background-color: blueviolet;
}

.grid:nth-child(9) {
    grid-area: 15 / 7 / 21 / 9;  
}

.grid:nth-child(9) .image {
    background-color: aquamarine;
}

.grid:nth-child(10) {
    grid-area: 13 / 9 / 21 / 11;  
}

.grid:nth-child(10) .image {
    background-color: bisque;
}


.rightPosition {
    animation: changeRightPosition 4s;
    animation-fill-mode: forwards;
}

@keyframes changeRightPosition {
    0% {
        transform: rotateY(90deg) translateZ(50vw) translateX(50vw);
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        margin-left: 0;
    }
    50% {
        transform: rotateY(90deg) translateZ(25vw) translateX(25vw);
        width: 50vw;
        height: 50vh;
        margin-top: 12%;
        margin-left: 25%;
    }
    100% {
        transform: rotateY(90deg) translateZ(50vw) translateX(50vw);
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        margin-left: 0;
    }
}